
.one {
	height: 400px;
	width: 400px;
	background-color: lightgreen;
	margin: 5px;
}

.two {
	height: 400px;
	width: 400px;
	background-color: grey;
	border: 2px;
	border-style: solid;
	border-color: orange;
}

.border-box {
	box-sizing: border-box;
}